<DOCTYPE HTML!>

<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Library Management System</title>
      {% load static %}
      <link rel="stylesheet" href="{% static 'core/styles.css' %}">
      {% load static %}
      <script src="{% static 'core/scripts.js' %}"></script>
      <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive&display=swap" rel="stylesheet">

    </head>
    <body>
      <div>
        <h1>Library Management System</h1>
        <p class="edu-nsw-act-cursive", style="text-align:center;">Welcome to the library management system. Please select an option below to proceed.</p>
      </div>
      <br>
      <br>
      <br>
      <div class="button-container-vertical">
        <button class="big-button" onclick="gotosignup()">Sign Up</button>
        <button class="big-button" onclick="gotologin()">Login</button>
      </div>
</html> 

