<DOCTYPE HTML!>
  <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SignUp-Library Management System</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'core/styles.css' %}">
        {% load static %}
        <script src="{% static 'core/scripts.js' %}"></script>
        <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive&display=swap" rel="stylesheet">
    </head>

    <body>
        <div>
            <h1>LMS Sign-Up</h1>
            <p class="edu-nsw-act-cursive", style="text-align:center;">Please verify what you are</p>
        </div>
        <br>
        <br>
        <br>
        <div class="button-container-vertical">
            <button class="big-button" onclick="gotosignup_librarian()">Librarian</button>
            <button class="big-button">Library Member</button>
        </div>
  </html>
</DOCTYPE>
